language: node_js
node_js:
- "9"
dist: trusty
sudo: false

branches:
  only:
  - master

cache:
  directories:
  - node_modules

addons:
  chrome: stable

script:
- npm run lint
- npm run test
- npm run build --prod  --base-href /beautifulgradients/
- mv beautifulgradients/beautifulgradients/index.html dist/beautifulgradients/404.html

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/beautifulgradients
  on:
    branch: master
