.landing {
  margin: 0 auto;
  max-width: 760px;
}

#introduction {
  padding: 0 20px;
}

#generator {
  font-weight: bold;
}

#generator .swap-colors{
  margin-top: 12px;
  color: #181d27;
  font-size: 20px;
}

#gradient ul {
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 30px rgba(24, 29, 39, .05), 0 20px 30px rgba(24, 29, 39, .05), 0 5px 10px rgba(24, 29, 39, .05);
}

#gradient li {
  list-style: none;
  height: 50px;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {

  #generator .generator-item {
    text-align: center !important;
    margin-top: 15px;
  }

  #generator .swap-colors{
    margin: 0px;
  }

  #gradient {
    padding: 0 20px;
  }
}
